.doft {
	background-color: #515151;
}

.shadowround {
	border-radius: 1.5em;
	box-shadow: black 0.5em 0.5em 0.5em;
}

.up {
	border-radius: 10px;
	box-shadow: black 0.5em 0.5em 0.5em;
	vertical-align: top;
	padding: 10px;
	margin: 0 auto;
	width: 1420px;
	height: 90px;
	background-color: #8f8f8f;
}

.up-right{
	float: right;
}
.up-top{
	float: top;
}
.up-top img{
	height: 1.5em;
}
.up-top-2{
	margin-top: 40px;
}

.up-top-2 img{
	height: 1.5em;
	float: bottom;
}
.d42 img{
	height: 6em;
}

.up-right-img{
	width:80%;
	float: left;
}

.content {
	position: relative;
	width: 1380px;
	height: 720px;
	margin: 20px auto;
}

.content .left-menu {
	postion: absolute;
	margin-left: -50px;
}
.content .left-menu input{
	width: 400px;
}

.content .left-menu .i{
	font-style: italic;
}
.content .right-menu {
	padding: 10px 10px;
}

.left {
	border-radius: 10px;
	box-shadow: black 0.5em 0.5em 0.5em;
	width: 140px;
	height: 425px;
	margin-right: 30px;
	background-color: #8f8f8f;
	float: left;
}

.left .pad{
	padding: 8px 30px;
}

.left .pad img{
	width: 75px;
}

.left .pad .look{
	border: 5px solid red;
	border-radius: 5px;
}

.wall {
	background-image: url("resources/brick.jpg");
	width: 122px;
	height: 70px;
}

.center {
	border-radius: 10px;
	box-shadow: black 0.5em 0.5em 0.5em;
	width: 1020px;
	height: 580px;
	margin-right: 30px;
	background-color: #8f8f8f;
	float: left;
}

.content .center .ikea {
	height: 225px;
	width: 160px;
	position: absolute;
	margin-left: 310px;
	margin-top: 300px;
}

.content .center .apple {
	height: 200px;
	width: 210px;
	position: absolute;
	margin-left: 780px;
	margin-top: 300px;
}

.big {
    font-family: Times;
    font-size: 31px;
}

.button {
	border: 1px grey solid;
	background-color: #ebebeb;
}

.red-shadow {
	text-shadow: 8px 6px 6px red;
}

.left-menu {
	line-height: 5px;
	font-family: Helvetica;
	font-size: 11pt;
	padding: 10px;
	margin: 0 auto;
	margin-top: 500px;
	position: absolute;
	background-color: #b3ff8f;
	width: 520px;
	height: 170px;
	border-radius: 5px;
	box-shadow: black 0.5em 0.5em 0.5em;
}

.cluster {
	margin-left: 10px;
	margin-top: 10px;
	background-image: url("resources/cluster.jpg");
	height: 550px;
	width: 1000px;
}

.right {
	border-radius: 10px;
	box-shadow: black 0.5em 0.5em 0.5em;
	width: 140px;
	height: 426px;
	background-color: #8f8f8f;
	float: left;
}

.right .right-menu img {
	width: 80px;
	margin: 0px 15px 0px 15px;
}
