.mendeleiev{
	display: block;
	margin: 0 auto;
	width: 20%;

}
table.mytable {
	table-layout: fixed;
	margin: 5vw 5vw 5vw 5vw ;
}
table.mytable tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
table.mytable td {
	padding: 5px;
	border: 1px solid #1C6EA4;
}
table.mytable td.element{
	width: 4vw;
	padding: 3px;
	border: 1px solid #1C6EA4;
}
table.mytable td.hidden {
	border: none;
}
table.mytable td.short {
	width: 1vw;
	font-size: 1vw;
	text-align: center;
}
.up {
	vertical-align: top;
	text-align: right;
	font-size: 0.7vw;
}
.name {
	vertical-align: center;
	text-align: center;
	font-size: 1vw;
	font-family: Impact;
}
.down {
	vertical-align: bottom;
	text-align: left;
	font-size: 0.7vw;
}
.diatomic-nonmetal {
	background: #e7ff8f;
}
.noble-gas {
	background: #c0ffff;
}
.alkali-metal {
	background: #ff6666;
}
.alkaline-earth-metal {
	background: #ffdead;
}
.transition-metal {
	background: #ffc0c0;
}
.lanthanide {
	background: #ffbfff;
}
.actinide {
	background: #ff99cc;
}
.polyatomic-nonmetal {
	background: #a1ffc3;
}
.metalloid {
	background: #cccc99;
}
.post-transition-metal {
	background: #cccccc;
}
.unknown-chemical-properties {
	background: #e8e8e8;
}